---
import { SITE } from "../../config";
import PageLayout from "../../Layouts/PageLayout.astro";
---

<PageLayout>
  <!-- <h1 class="dark:text-white text-4xl">{SITE.title}</h1> -->
  <!-- <h2 class="dark:text-white">Home</h2> -->
  <div class="flex flex-col items-center mt-8 mb-24">
    <div class="max-w-2xl">
      <p>
        Datagrove and Pawpaw Homeschool Solutions is pleased to provide
        <a
          href="https://www.academicexcellence.com/complete-online-california-achievement-test-not-timed/"
          class="underline"
        >
          the California Achievement Test (CAT).</a
        >
      </p>
      <br />
      <p>
        The CAT, offered through
        <a href="https://www.academicexcellence.com/" class="underline">
          Academic Excellence</a
        >, is one of the most widely used of the student assessment for basic
        academic skills, and meets most state and umbrella school requirements
        for annual testing.
      </p>
      <br />
      <p>
        The Online, Untimed CAT with practice test can be purchased through
        Datagrove for the discounted price of $20.00 per test package. For each
        test purchased, you will need to enter the student's full name and
        grade.
      </p>
      <div class="flex justify-center mt-8">
        <a
          href="/CAT/order"
          class="bg-green-700 rounded-full shadow px-4 py-2 w-80 text-white text-center justify-center border border-green-900 dark:border-slate-400"
        >
          Order
        </a>
      </div>
      <br />
      <ul class="list-disc list-outside">
        Your CAT purchase includes:
        <li class="ml-5">
          One Untimed, Comprehensive, Online Achievement Test (reading,
          language, and mathematics)
        </li>
        <li class="ml-5">
          One CAT Practice Exam (Includes sections on each competency within the
          test and represents approximately 25% the length of the actual test.)
        </li>
        <li class="ml-5">Printable Certificate of Completion</li>
        <li class="ml-5">Premium Scoring and Test Analysis</li>
      </ul>
      <br />
      <p>
        Once you place your order you will recieve your payment receipt from
        Stripe. Within approximately one week (often sooner!) you will receive
        an email to the address associated with the order with details of how
        your students can log on to access their test. Test results and
        certificates can be accessed via the Academic Excellence portal after
        completing the exam.
      </p>
      <br />
      <p>
        If you have questions or issues with your order please contact us at <a
          href="mailto: achievement.testing@datagrove.com"
          class="underline">Achievement.Testing@datagrove.com</a>
      </p>
    </div>
  </div>
</PageLayout>
