---
import { SITE } from "../../config";
import PageLayout from '../../Layouts/PageLayout.astro';
import { OrderForm } from "../../lib/OrderForm";
---

<PageLayout>
	<div class="text-center mt-4 mb-8">
		<h1 class="text-2xl w-full pb-2">{SITE.title}</h1>
		<h2 class="text-xl w-full italic">Test Order Form</h2>
	</div>
	<OrderForm client:load />
</PageLayout>

