---
import PageLayout from '../Layouts/PageLayout.astro';
import { Content } from "../content/faq.mdx";
---

<PageLayout>
  <div class="mx-6">
    <div class="mb-8">
      <h1 class="font-bold text-3xl mb-2 text-ptext1 dark:text-ptext1-DM">
        Frequently Asked Questions
      </h1>
    </div>
    <div class="prose dark:prose-invert">
      <Content />
    </div>
  </div>
</PageLayout>

<!-- <PageLayout>
    <div class="mb-28 md:mx-16 lg:mx-32">
        <h2 class="text-xl md:text-3xl text-center my-6 font-bold">Frequently Asked Questions</h2>
        <div>
            <div class="faq-block">
                <h3 class="faq">What is <a href="https://www.datagrove.com/" target="_blank" class="underline">Datagrove?</a></h3>
                <p class="answer">Datagrove is a software engineering company with the vision to build software that does good.</p>
                <p class="answer">Datagrove products are all about making things easier, more efficient, and more secure while taking into consideration our impact on the world around us. Trees inspire us in many ways - tree structures represent an efficient method of data storage and even small groups of trees (groves!) can grow to be mighty forests.</p>
            </div>

            <div class="faq-block">
                <h3 class="faq">What is the CAT?</h3>
                <p class="answer">The CAT stands for the <a href="https://www.academicexcellence.com/complete-online-california-achievement-test-not-timed/" target="_blank" class="underline">California Achievement Test</a>. The CAT, offered through education resource company <a href="https://www.academicexcellence.com/" target="_blank" class="underline">Academic Excellence</a>, is one of the most widely used of the student assessment for basic academic skills, and meets most state and umbrella school requirements for annual testing.</p>
            </div>
            
            <div class="faq-block">
                <h3 class="faq">Why would I want to purchase a CAT code from Datagrove?</h3>
                <p class="answer">The CAT provides educators, students and their parents with a measure of achievement and national comparison in reading, language, spelling, and mathematics. The CAT also meets most state and umbrella school requirements for annual testing. </p>
            </div>
            
            <div class="faq-block">
                <h3 class="faq">How can Datagrove offer the CAT at a lower price?</h3>
                <p class="answer">Academic Excellence offers the option to purchase group orders of CAT codes at a reduced rate. Datagrove purchased a block of CAT codes at the lower rate so that we can pass along the savings to families while also supporting our work to develop educational software products.</p>
            </div>

            <div class="faq-block">
                <h3 class="faq">Why is Datagrove offering CAT codes at a lower price?</h3>
                <p class="answer">Datagrove is happy to make the up-front investment to purchase a group order of CAT codes so that we can 1) pass along savings to families, 2) support the development of new education software, and 3) utilize the opportunity to share about our work.</p>
            </div>

            <div class="faq-block">
                <h3 class="faq">How do I pay for a Datagrove CAT code?</h3>
                <p class="answer">Datagrove uses the Stripe payment processing solutions for the purchase of its CAT codes. Stripe is one of the most popular eCommerce solutions for online marketplaces - you've likely made an online purchase using Stripe already! Using Stripe allows Datagrove to offer payment processing that is secure and reliable. Like most card processing services, Stripe does charge a fee for its use, but Datagrove has chosen to pay those fees to make it easier for users to know exactly what to expect for their bottom line. Since the payment process is managed entirely by Stripe, Datagrove will never receive your credit card information.</p>
            </div>

            <div class="faq-block">
                <h3 class="faq">Do CAT codes have expiration dates?</h3>
                <p class="answer">Nope! CAT codes do not expire.</p>
            </div>

            <div class="faq-block">
                <h3 class="faq">Can I request a refund if I decide that I don't want to use a CAT code I've purchased?</h3>
                <p class="answer">Datagrove does not offer refunds for CAT codes, but the codes do not expire.</p>
            </div>

            <div class="faq-block">
                <h3 class="faq">Will Datagrove ask me for any personal data about me or my students when I purchase a CAT code?</h3>
                <p class="answer">Datagrove is committed to only requesting the data required by Academic Excellence to purchase CAT codes. Our CAT code order form asks users to share the first name, last name, and email of the adult ordering the test codes, and the grade level of the student(s) for whom they are ordering. That's it!
                </p>
                <p class="answer">Also, we will never sell your information or send you spam emails. We respect your privacy!</p>
            </div>

            <div class="faq-block">
                <h3 class="faq"> What if I have other questions?</h3>
                <p class="answer">If you have any questions about ordering CAT codes from Datagrove, please feel free to email us at <a href="mailto:achievement.testing@datagrove.com" target="_blank" class="underline">achievement.testing@datagrove.com.</a></p>
                <p class="answer">If you have questions specifically about the CAT, please visit the <a href="https://www.academicexcellence.com/faq/" target="_blank" class="underline">Academic Excellence FAQ page</a>, or utilize their help chat.</p>
            </div>
        </div>
    </div>
</PageLayout> -->
