---
import { SITE } from "../config";
import PageLayout from '../Layouts/PageLayout.astro';
import App from "../components/App";

---

<PageLayout>
	<h1>{SITE.title}</h1>
	<App client:load />
</PageLayout>

