---
import { SITE } from "../config";
import PageLayout from '../Layouts/PageLayout.astro';

---

<PageLayout>
	<!-- <h1 class="dark:text-white text-4xl">{SITE.title}</h1> -->
	<!-- <h2 class="dark:text-white">Home</h2> -->
	<div class="">
		<p>
		Add information here about what the tests are 
		and why you should order them through Datagrove
		</p>
	</div>
	
	<div class="flex justify-center mt-4">
		<button 
		  id="checkout"
		  class="bg-green-700 rounded-full shadow px-4 py-2 w-96 text-white justify-center border border-green-900 dark:border-slate-400"
		>
		  <a href='/order'> 
			Order Test Codes
		  </a>
		</button>
	  </div>
	<!-- <a href="/order" class="dark:text-white">Order</a> -->
</PageLayout>

