---
import { SITE } from "../config";
import PageLayout from '../Layouts/PageLayout.astro';

---

<PageLayout>
	<h1 class="dark:text-white text-4xl">{SITE.title}</h1>
	<h2 class="dark:text-white">Home</h2>
	<a href="/order" class="dark:text-white">Order</a>
</PageLayout>

