---
import { SITE } from "../config";
import PageLayout from '../Layouts/PageLayout.astro';
import {PayForm} from "../lib/pay";

---

<PageLayout>
	<h1 class="dark:text-white">{SITE.title}</h1>
	<h2 class="dark:text-white">Pay</h2>
	<PayForm client:only />
</PageLayout>
