---
import { SITE } from "../config";
import PageLayout from '../Layouts/PageLayout.astro';
import {PayForm} from "../lib/paylib";
import Webhook from '../lib/Webhook'

---

<PageLayout>
	<!-- <h1 class="dark:text-white">{SITE.title}</h1> -->
	<!-- <h2 class="dark:text-white"></h2> -->
	<PayForm client:only />
	<Webhook client:only/>
</PageLayout>
