---
import { SITE } from "../config";
import PageLayout from '../Layouts/PageLayout.astro';
import {PayForm} from "../lib/pay";

---

<PageLayout>
	<h1>{SITE.title}</h1>
	<h2>Pay</h2>
	<PayForm client:load />
</PageLayout>
