---
import PageLayout from '../Layouts/PageLayout.astro';
import { Content } from "../content/policies/privacy.mdx";
---

<PageLayout>
    <div class="mx-6">
      <div class="mt-2">
        <h1 class="font-bold text-3xl mb-2 text-ptext1 dark:text-ptext1-DM">Privacy Policy</h1>
      </div>
      <div class="prose dark:prose-invert">
        <Content />
      </div>
    </div>
  </PageLayout>