---
import ToggleTheme from "./ToggleTheme.astro";
import { SITE } from "../config";

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

export interface Props {
  links?: Array<MenuLink>;
}

interface MenuLink extends Link {
  links?: Array<Link>;
}

const { links = [] } = Astro.props;
---

<div class="">
  <header class="top-0 w-full transition-all ease-in duration-100">
    <div
      class="md:flex w-full content-center h-fit justify-between items-center"
    >
      <div class="text-center md:text-left">
        <div class="all-logo">
          <a id="logo" href="/">
            
          </a>
        </div>

        <div>
          <h1 class="text-3xl md:text-4xl pl-2 py-2">
            <a href="/">
              <svg class="w-16 h-16 fill-black stroke-black dark:stroke-slate-400 dark:fill-slate-400 inline-block" viewBox="0 0 180 180">
                <g id="layer1">
                  <circle
                    style="fill:none;fill-opacity:1;stroke-width:2.31085;stroke-dasharray:none;stroke-opacity:1"
                    id="path4-5"
                    cx="90.255104"
                    cy="90.192787"
                    r="86.344574"></circle>
                  <circle
                    style="fill:none;fill-opacity:1;stroke-width:2.13599;stroke-dasharray:none;stroke-opacity:1"
                    id="path4-1-6"
                    cx="90.114067"
                    cy="90.788353"
                    r="79.811508"></circle>
                  <g
                    style="fill-opacity:1;stroke:none;stroke-width:1.00012;stroke-dasharray:none;stroke-opacity:1"
                    id="g5-7"
                    transform="matrix(5.909063,0,0,6.1904404,17.876796,12.726997)"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="m 12.0634,4.04209 c 2.997,-0.36695 5.7363,1.71348 6.219,4.68849 0.0512,0.31544 0.2501,0.58742 0.5351,0.73186 1.1441,0.57966 1.9861,1.70296 2.1528,3.07616 0.2655,2.1874 -1.2848,4.1698 -3.4526,4.4353 -0.3051,0.0373 -0.6782,0.037 -1.0178,-0.0164 -0.3615,-0.0569 -0.5654,-0.1548 -0.6411,-0.2174 -0.4257,-0.3518 -1.056,-0.2918 -1.4078,0.1339 -0.3518,0.4257 -0.2919,1.0561 0.1338,1.4079 0.4755,0.3929 1.0901,0.5704 1.6044,0.6513 0.5362,0.0844 1.0962,0.084 1.5716,0.0258 3.2712,-0.4005 5.5925,-3.3862 5.195,-6.6614 C 22.7275,10.4174 21.6524,8.84696 20.162,7.9256 19.3016,4.16205 15.7296,1.57827 11.8203,2.05692 9.22789,2.37434 7.10232,3.96441 5.98423,6.12144 2.75534,6.63544 0.999995,9.6056 1,12.6317 c 0,0.9741 0.33367,2.5007 1.49103,3.7971 1.18623,1.3288 3.13057,2.2968 6.11678,2.2968 0.55229,0 1,-0.4477 1,-1 0,-0.5523 -0.44771,-1 -1,-1 -2.52548,0 -3.88504,-0.8 -4.62479,-1.6287 C 3.2144,14.2359 3,13.2155 3,12.6317 3,10.7371 3.84959,9.16206 5.21959,8.45213 5.11229,9.13669 5.09664,9.84705 5.18413,10.5678 5.25068,11.1161 5.74908,11.5066 6.29734,11.44 6.8456,11.3735 7.23611,10.8751 7.16956,10.3268 7.04587,9.30783 7.20007,8.32218 7.57135,7.44331 8.33213,5.64245 10.0002,4.29471 12.0634,4.04209 Z m 4.5951,8.71051 c 0.4156,-0.3637 0.4578,-0.9955 0.0941,-1.4111 -0.3637,-0.4156 -0.9955,-0.4577 -1.4111,-0.0941 l -3.3573,2.9377 -2.34402,-1.9533 c -0.42427,-0.3536 -1.05484,-0.2962 -1.4084,0.128 -0.35357,0.4243 -0.29624,1.0549 0.12804,1.4084 L 11,15.9684 V 22 c 0,0.5523 0.4477,1 1,1 0.5523,0 1,-0.4477 1,-1 v -6.0462 z"
                      id="path1-8"
                      style="fill-opacity:1;stroke:none;stroke-width:1.00012;stroke-dasharray:none;stroke-opacity:1"
                    ></path>
                  </g>
                </g>
              </svg>
              {SITE.title}
              <div class="text-xs text-end">Brought to you by <a href="https://datagrove.com/learngrove/" class="underline text-green-600 font-bold">LearnGrove</a> a <a href="https://datagrove.com" class="underline">Datagrove</a> project</div>
            </a>
          </h1>
        </div>
      </div>

      <div class="flex md:items-center justify-center">
        <div class="md:mx-4">
          <a
            href="/order"
            class="underline underline-offset-2 md:no-underline md:hover:underline bg-green-700 rounded-full shadow px-4 py-2 text-white text-center justify-center border border-green-900 dark:border-slate-400"
            >Order</a
          >
        </div>

        <div class="inline md:hidden mx-2">|</div>

        <div class="md:mx-4">
          <a
            href="/FAQ"
            class="underline underline-offset-2 md:no-underline md:hover:underline"
            >FAQ</a
          >
        </div>

        <div class="inline md:hidden mx-2">|</div>

        <div class="md:mx-4">
          <a
            href="mailto: achievement.testing@gmail.com"
            class="underline underline-offset-2 md:no-underline md:hover:underline"
            >Contact Us</a
          >
        </div>

        <div class="inline md:hidden mx-2">|</div>

        <div class="flex">
          <ToggleTheme />
        </div>
      </div>

      <!-- <nav class="flex content-center w-1/4">
      <ul class="flex content-center">
        {
          links.map(({ text, href }) => (
            <a
              class="sm:text-xl md:text-2xl lg:text-4xl text-center hover:text-gray-900 dark:hover:text-white dark:text-gray-400 px-4 py-3 flex items-center transition duration-150 ease-in-out"
              href={href}
            >
              {text}
            </a>
          ))
        }
      </ul>
    </nav> -->
    </div>
  </header>
</div>
