---
import { LEGACY_ASTRO_CONFIG_KEYS } from "astro/dist/core/config/config";
import ToggleTheme from "./ToggleTheme.astro";

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

export interface Props {
  links?: Array<MenuLink>;
}

interface MenuLink extends Link {
  links?: Array<Link>;
}

const { 
    links = []
} = Astro.props;
---
<div class="">
<header
  class="top-0 w-full transition-all ease-in duration-100"
>
  <div class="flex w-full content-center h-fit justify-between items-center">
    <div class="w-1/4">
      <a href="https://datagrove.com">
        <svg
          class="lg:w-48 lg:h-48 w-12 h-12 dark:fill-gray-400 fill-black"
          version="1.1"
          viewBox="0 0 350 350"
          xml:space="preserve"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="m59.045 246.25v-155.32h23.849v156.24l27.806 3.6726v-137.11h24.259v4.7495c0 44.134 0.0412 88.269-0.0758 132.4-0.01 3.5936 0.75294 5.197 4.6358 5.769 7.5945 1.118 15.087 2.9294 23.18 4.5686v-190.35h24.19v193.59c9.2813 0.60019 18.24 1.1765 27.64 1.7832v-165.49h24.16v165.28c9.4568-0.48102 18.422-0.93929 27.871-1.4225v-126.54c7.757 0 15.025-0.052 22.29 0.0899 0.64678 0.013 1.559 1.2004 1.8277 2.014 0.32284 0.97938 0.091 2.1418 0.0921 3.2241v119.07c13.609-2.7626 26.56-5.2804 39.456-8.0603 5.1384-1.1083 10.118-2.9479 15.245-4.1147 1.3629-0.31093 3.0107 0.63161 4.5285 0.99888-1.0227 1.1386-1.8602 2.9825-3.0952 3.3086-24.16 6.3464-48.243 13.062-72.6 18.563-22.092 4.99-44.651 6.9087-67.336 5.5263-25.599-1.5601-50.525-7.1091-75.386-13.1a1813.1 1813.1 0 0 0-56.91-12.733c-24.273-5.028-45.669 2.1949-65.23 16.349-1.754 1.2686-3.3303 2.872-5.2414 3.8005-1.1473 0.55793-2.7843 0.10725-4.2013 0.10833 0.47127-1.2188 0.59044-2.859 1.4669-3.5914 11.789-9.862 25.014-17.021 40.108-20.339 5.5252-1.2166 11.172-1.8927 17.471-2.9316z"
            clip-rule="evenodd"
            fill-rule="evenodd"
            stroke-width="1.0834"></path>
        </svg>
      </a>
    </div>

    <div class="flex place-content-center w-1/4">
      <ToggleTheme />
    </div>
 
    <nav class="flex content-center w-1/4">
      <ul class="flex content-center">
        {
          links.map(({ text, href }) => (
            <a
              class="sm:text-xl md:text-2xl lg:text-4xl text-center hover:text-gray-900 dark:hover:text-white dark:text-gray-400 px-4 py-3 flex items-center transition duration-150 ease-in-out"
              href={href}
            >
              {text}
            </a>
          ))
        }
      </ul>
    </nav>
</div>
</header>
</div>
