---
import { LEGACY_ASTRO_CONFIG_KEYS } from "astro/dist/core/config/config";
import ToggleTheme from "./ToggleTheme.astro";
import { SITE } from "../config";

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

export interface Props {
  links?: Array<MenuLink>;
}

interface MenuLink extends Link {
  links?: Array<Link>;
}

const { 
    links = []
} = Astro.props;
---
<div class="">
<header
  class="top-0 w-full transition-all ease-in duration-100"
>
  <div class="md:flex w-full content-center h-fit justify-between items-center">
    <div class="text-center md:text-left">
      <a href="/">
        <p class="text-2xl font-bold">{ SITE.title }</p>
      </a>
    </div>

    <div class="flex md:items-center justify-center">
      <div class="md:mx-4 ">
        <a href="/order" class="underline underline-offset-2 md:no-underline md:hover:underline">Order</a>
      </div>

      <div class="inline md:hidden mx-2"> | </div>

      <div class="md:mx-4 ">
        <a href="/FAQ" class="underline underline-offset-2 md:no-underline md:hover:underline">FAQ</a>
      </div>

      <div class="inline md:hidden mx-2"> | </div>
      
      <div class="md:mx-4">
        <a href="mailto: achievement.testing@gmail.com" class="underline underline-offset-2 md:no-underline md:hover:underline">Contact Us</a>
      </div>

      <div class="inline md:hidden mx-2"> | </div>

      <div class="flex">
        <ToggleTheme />
      </div>
    </div>
 
    <!-- <nav class="flex content-center w-1/4">
      <ul class="flex content-center">
        {
          links.map(({ text, href }) => (
            <a
              class="sm:text-xl md:text-2xl lg:text-4xl text-center hover:text-gray-900 dark:hover:text-white dark:text-gray-400 px-4 py-3 flex items-center transition duration-150 ease-in-out"
              href={href}
            >
              {text}
            </a>
          ))
        }
      </ul>
    </nav> -->
</div>
</header>
</div>
