---
import ToggleTheme from "./ToggleTheme.astro";

---
<header>
    <div class="bg-purple-300 flex content-center h-fit">
        <a href="https://datagrove.com">
            <img src="/images/dg_logo.svg" class="bg-yellow-400 dark:bg-green-500 w-4/12 md:w-2/12"/>
        </a>
        <div class="bg-white flex content-center">
            <ToggleTheme />
        </div>
    </div>
    <nav>

    </nav>
</header>