---
import { SITE } from '../.././config.js';
import BasicScripts from '../components/BasicScripts.astro';

const {language = 'en', textDirection = "ltr"} = SITE
---

<!DOCTYPE html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">
  <head>
  </head>

  <body>
    <slot />
    <BasicScripts />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
