---
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/Header.astro";
import { headerData } from '../head_foot_data'
import Footer from "../components/Footer.astro";
---

<BaseLayout>
    <slot name="header">
      <Header {...headerData}/>
    </slot>
    <main>
      <slot />
    </main>

    <slot name="footer">
      <Footer />
    </slot>
</BaseLayout>